<form class="form new-property-form" data->
    <section class="form-group  ">
        <label class="">Name</label>
        <input required class="form-control" name="name" value="{{ prop.name }}">
    </section>

    <section class="form-group  ">
        <label class="">Key (in camelCase)</label>
        <input{% if propertyId %} disabled{% endif %} required pattern="[a-z][a-zA-Z0-9]+" class="form-control" name="key" value="{{ propertyId }}">
    </section>

    <section class="form-group  ">
        <label class="">Description</label>
        <input class="form-control" name="description" value="{{ prop.description }}">
    </section>

    <section class="form-group  ">
        <label class="">Type</label>



        <select required class="form-control select2" name="type">
            {% for blockId, block in blockTypes %}
            <option value="{{ blockId }}"{% if prop.type == blockId %} selected{% endif %}>{{ block.title }}</option>
            {% endfor %}
        </select>
    </section>

    <section class="form-group  ">
        <button type="submit" class="btn btn-primary">Save</button>
    </section>
</form>